@import '../../variables.scss';

.CryptoCurrenciesListing {
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $GreyFontColor;
        height: 10px;
        border-radius: 12px;
    }
}