@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$ListBackgroundColor: rgb(39,38,43);
$ContentBackgroundColor: rgb(24,23,28);
$NeonicGreen: rgb(27,208,0);
$RawRed: rgb(209,0,160);

$GreyFontColor: rgb(95,94,98);
$WhiteFontColor: rgb(249,242,213);